
main{
    padding: 24px;
}
.wrapper{
    max-width: 1240px;
    margin: 0 auto;
    padding: 12px 24px;
    border: 1px solid gray;
    background-color: #eee;
}

#toast{
    visibility: hidden;
    position: absolute;
    z-index: 10;
    top: 24px;
    left: calc(50% - 80px);
    width: 160px;
    height: 32px;
    background-color: rgba(22,22,22,0.7);
    border-radius: 4px;
}

#toast > p{
    padding: 8px 8px;
    font-size: 12px;
    text-align: center;
    color: #fff;
}

#test{
    visibility: hidden;
}

.grid{
    display: grid;
    row-gap: 8px;
    grid-template-columns: repeat(auto-fill, 200px);}

.item{
    padding: 12px 24px;
    border: 1px solid gray;
    border-radius: 4px;
}

.item img{
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    vertical-align: bottom;
}