.contents{
    margin: 36px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tab{
    display: flex;
    flex-direction: column;
}

.resultImage {
    width: 720px;
    height: 720px;
    position: relative;
}

.hair-back{
    position: absolute;
    z-index: 0;
}

.earL{
    position: absolute;
    z-index: 5;
}

.face{
    position: absolute;
    z-index: 10;
}

.face-masked{
    mask-image:url("img/face_base.png");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position:  center;
    -webkit-mask-image:url("img/face_base.png");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position:  center;
}

.cheek{
    mix-blend-mode: multiply;
}

.earR{
    position: absolute;
    z-index: 15;
}

.hair-front{
    position: absolute;
    z-index: 20;
}

.hair-left{
    position: absolute;
    z-index: 25;
}

.hair-right{
    position: absolute;
    z-index: 30;
}

.pupil{
    position: absolute;
    z-index: 40;
}

.eye-masked{
    mask-image:url("img/pupil_base1.png");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position:  center;
    -webkit-mask-image:url("img/pupil_base1.png");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position:  center;
}

.screen{
    mix-blend-mode: screen;
}

.glow{
    mix-blend-mode: color-dodge;
}

.highlight{
    position: absolute;
    z-index: 41;
}

.eyelashes{
    position: absolute;
    z-index: 45;
}

.eyebrows{
    position: absolute;
    z-index: 50;
}

.tab-list{
    border: #444 solid 1px;
    border-radius: 16px;
}

.tab-list > ul{
    display: flex;
}

.tab-list__item{
    padding: 20px 10px 20px 10px;
}

.tab-contents{
    border: #444 1px solid;
    border-radius: 16px;
}

.resultShow > button{
    display: block;
}

.hidden{
    display: none;
}

@media screen and (max-width:720px){
    .contents{
        flex-direction: column;
    }
    .resultImage{
        width: 100%;
        height: auto;
    }
}