.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: -1;
  }
  .Polka_v2 {
    background-image:  radial-gradient(#9ed2c7 2px, transparent 2px), radial-gradient(#ffc107 2px, #ffffff 2px);
    background-size: 40px 40px;
    background-position: 0 0,20px 20px;
  }

.contents{
    max-width: 1150px;
    margin: auto;
    padding: 0 36px 0 36px;
    display:flex;
    justify-content: space-evenly;
    background-color: #fff;
}

.tab{
    display: flex;
    flex-direction: column;
}

.resultImage {
    width: 720px;
    height: 720px;
    position: relative;
}

.hair-back{
    position: absolute;
    z-index: 0;
}

.earL{
    position: absolute;
    z-index: 5;
}

.face{
    position: absolute;
    z-index: 10;
}

.face-masked{
    mask-image:url("img/face_base.png");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position:  center;
    -webkit-mask-image:url("img/face_base.png");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position:  center;
}

.cheek{
    mix-blend-mode: multiply;
}

.earR{
    position: absolute;
    z-index: 15;
}

.hair-front{
    position: absolute;
    z-index: 20;
}

.hair-left{
    position: absolute;
    z-index: 25;
}

.hair-right{
    position: absolute;
    z-index: 30;
}

.pupil{
    position: absolute;
    z-index: 40;
}

.eye-masked{
    mask-image:url("img/pupil_base1.png");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position:  center;
    -webkit-mask-image:url("img/pupil_base1.png");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position:  center;
}

.screen{
    mix-blend-mode: screen;
}

.glow{
    mix-blend-mode: color-dodge;
}

.highlight{
    position: absolute;
    z-index: 41;
}

.eyelashes{
    position: absolute;
    z-index: 45;
}

.eyebrows{
    position: absolute;
    z-index: 50;
}

.tab-list{
    border: #444 solid 1px;
    border-radius: 12px;
}

.tab-list > ul{
    display: flex;
    justify-content: center;
}

.tab-list__item{
    padding: 20px 10px 20px 10px;
    cursor: pointer;
    transition: all .3s;
}

.tab-list__item.active{
    background-color: rgba(48, 172, 249);
    color: aliceblue;
    padding: 12px 5px;
}

.tab-contents{
    border: #444 1px solid;
    border-radius: 12px;
}

.tab-contents__item{
    display: none;
}

.tab-contents__item.show{
    display: block;
    width: 480px;
    min-height: 200px;
}

.tab-contents__item2{
    display: flex;
    flex-wrap: wrap;
}

.tab-contents__item  button{
    width: 64px;
    height: 64px;
    border: #444 solid 1px;
}

.resultShow > button{
    display: block;
    width: 100px;
    height: 50px;
    border: #444 solid 1px;
}

#result_img_area > img{
    width: 720px;
    display: block;
    margin: auto;
}

.mask{
    position:absolute;
    max-width: 720px; min-width: 100%;
    height:720px; min-height: 100%;
}

.hidden{
    display: none;
}

@media screen and (max-width:820px){
    .contents{
        flex-direction: column;
    }
    .resultImage{
        width: 100%;
    }

    .tab{
        width: 100%;
    }

    #result_img_area > img{
        width: 100%;
    }
}